#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    z-index: 1;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-size: 25px;
    color: #333;
}

.navbar-nav .nav-item {
    padding: 10px 15px;
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link.active {
    color: #007bff;
}

.form-control {
    border-radius: 0;
}

.input-group-text {
    background-color: #007bff;
    color: #fff;
    border-radius: 0;
}

.input-group-text:hover {
    background-color: #0056b3;
}

.form-check-input {
    margin-top: 3px;
}

.card {
    border-radius: auto;
}

.card-body {
    padding: 20px;
    width: auto; 
 height: auto; 
            
 margin-bottom: auto;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    color: #6c757d;
}

/* Style for the new card */
#fetched-weather-card {
    display: none; /* Initially hidden */
}

